/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}
#next_train_header {
	width: 100%;
	text-align: center;
	margin-top: 40px;
	font-size: 40px;
	color: #333;
	font-family: Avenir;
}
#next_train_header span {
	color: #7EB0BC;
	margin-top: 20px;
	display: inline-block;
	font-weight: bold;
}
#northbound, #southbound {
	margin-top: 30px;
	width: 100%;
	padding: 10px;
	background: #F3E6C7;
	text-align: center;
	font-size: 20px;
	font-family: Avenir;
}
h5 {
	font-size: 20px;
}
#nextTrainRefresh {
	width: 200px;
	font-size: 30px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 20px;
	background: #F3E6C7;
	text-align: center;
}
#nextTrainRefresh:hover {
	cursor: pointer;
}