<ion-view view-title="Next Train">
  <ion-content>
    <div id="next_train_header">You are closest to <span></span></div>
    <div id="lat"></div>
    <div id="lon"></div>
    <br />
    <span id="northbound_label">Northbound</span>
    <div id="northbound_list">
	    <div id="northbound0" class="northbound"></div>
    </div>
    <br />
    <span id="southbound_label">Southbound</span>
    <div id="southbound_list">
	    <div id="southbound0" class="southbound"></div>
    </div>
    <div id="nextTrainRefresh">Refresh</div>
  </ion-content>
</ion-view>
