<ion-view view-title="Trip Planner">
  <ion-content>
    <ion-content ng-controller="PlannerController">
	    <div id="planner" data-tap-disabled="true"></div>

		
			<h5>Find the journey with the fewest stops</h5>
			
		     <div class="list">
			<label class="item item-input item-select">
    			<div class="input-label">
      				Start
    			</div>
    			<select id="start">
<option selected>Current Location</option>
<option>30th Street Station</option>
<option>49th Street</option>
<option>Airport Terminal A</option>
<option>Airport Terminal B</option>
<option>Airport Terminal C & D</option>
<option>Airport Terminal E & F</option>
<option>Allegheny</option>
<option>Allen Lane</option>
<option>Ambler</option>
<option>Angora</option>
<option>Ardmore</option>
<option>Ardsley</option>
<option>Bala</option>
<option>Berwyn</option>
<option>Bethayres</option>
<option>Bridesburg</option>
<option>Bristol</option>
<option>Bryn Mawr</option>
<option>Carpenter</option>
<option>Chalfont</option>
<option>Chelten Avenue</option>
<option>Cheltenham</option>
<option>Chester</option>
<option>Chestnut Hill East</option>
<option>Chestnut Hill West</option>
<option>Churchmans Crossing</option>
<option>Claymont</option>
<option>Clifton-Aldan</option>
<option>Colmar</option>
<option>Conshohocken</option>
<option>Cornwells Heights</option>
<option>Crestmont</option>
<option>Croydon</option>
<option>Crum Lynne</option>
<option>Curtis Park</option>
<option>Cynwyd</option>
<option>Darby</option>
<option>Daylesford</option>
<option>Del Val College</option>
<option>Devon</option>
<option>Downingtown</option>
<option>Doylestown</option>
<option>East Falls</option>
<option>Eastwick</option>
<option>Eddington</option>
<option>Eddystone</option>
<option>Elkins Park</option>
<option>Elm Street</option>
<option>Elwyn</option>
<option>Exton</option>
<option>Fern Rock TC</option>
<option>Fernwood-Yeadon</option>
<option>Folcroft</option>
<option>Forest Hills</option>
<option>Fort Washington</option>
<option>Fortuna</option>
<option>Fox Chase</option>
<option>Germantown </option>
<option>Gladstone</option>
<option>Glenolden</option>
<option>Glenside</option>
<option>Gravers </option>
<option>Gwynedd Valley</option>
<option>Hatboro</option>
<option>Haverford</option>
<option>Highland</option>
<option>Highland Avenue</option>
<option>Holmesburg</option>
<option>Ivy Ridge</option>
<option>Jefferson Station</option>
<option>Jenkintown</option>
<option>Langhorne</option>
<option>Lansdale</option>
<option>Lansdowne</option>
<option>Lawndale</option>
<option>Levittown</option>
<option>Link Belt</option>
<option>Main Street</option>
<option>Malvern</option>
<option>Manayunk</option>
<option>Marcus Hook</option>
<option>Meadowbrook</option>
<option>Media</option>
<option>Melrose Park</option>
<option>Merion</option>
<option>Miquon</option>
<option>Morton</option>
<option>Mount Airy</option>
<option>Moylan-Rose Valley</option>
<option>Narberth</option>
<option>Neshaminy Falls</option>
<option>New Britain</option>
<option>Newark</option>
<option>Noble</option>
<option>Norristown TC</option>
<option>North Broad</option>
<option>North Hills</option>
<option>North Philadelphia</option>
<option>North Wales</option>
<option>Norwood</option>
<option>Olney</option>
<option>Oreland</option>
<option>Overbrook</option>
<option>Paoli</option>
<option>Penllyn</option>
<option>Pennbrook</option>
<option>Philmont</option>
<option>Primos</option>
<option>Prospect Park</option>
<option>Queen Lane</option>
<option>Radnor</option>
<option>Ridley Park</option>
<option>Rosemont</option>
<option>Roslyn</option>
<option>Rydal</option>
<option>Ryers</option>
<option>Secane</option>
<option>Sedgwick </option>
<option>Sharon Hill</option>
<option>Somerton</option>
<option>Spring Mill</option>
<option>St Davids</option>
<option>St Martins</option>
<option>Stenton</option>
<option>Strafford</option>
<option>Suburban Station</option>
<option>Swarthmore</option>
<option>Tacony</option>
<option>Temple University</option>
<option>Thorndale</option>
<option>Torresdale</option>
<option>Trenton Transit Center</option>
<option>Trevose</option>
<option>Tulpehocken</option>
<option>University City</option>
<option>Upsal</option>
<option>Villanova</option>
<option>Wallingford</option>
<option>Warminster</option>
<option>Washington Lane</option>
<option>Wayne</option>
<option>Wayne Junction</option>
<option>West Trenton</option>
<option>Whitford</option>
<option>Willow Grove</option>
<option>Wilmington</option>
<option>Wissahickon TC</option>
<option>Wister </option>
<option>Woodbourne</option>
<option>Wyndmoor </option>
<option>Wynnefield Avenue</option>
<option>Wynnewood</option>
<option>Yardley</option>
    			</select>
  			</label>
            <label class="item item-input item-select">
    			<div class="input-label">
      				Destination
    			</div>
    			<select id="dest">
<option>30th Street Station</option>
<option>49th Street</option>
<option>Airport Terminal A</option>
<option>Airport Terminal B</option>
<option>Airport Terminal C & D</option>
<option>Airport Terminal E & F</option>
<option>Allegheny</option>
<option>Allen Lane</option>
<option>Ambler</option>
<option>Angora</option>
<option>Ardmore</option>
<option>Ardsley</option>
<option>Bala</option>
<option>Berwyn</option>
<option>Bethayres</option>
<option>Bridesburg</option>
<option>Bristol</option>
<option>Bryn Mawr</option>
<option>Carpenter</option>
<option>Chalfont</option>
<option>Chelten Avenue</option>
<option>Cheltenham</option>
<option>Chester</option>
<option>Chestnut Hill East</option>
<option>Chestnut Hill West</option>
<option>Churchmans Crossing</option>
<option>Claymont</option>
<option>Clifton-Aldan</option>
<option>Colmar</option>
<option>Conshohocken</option>
<option>Cornwells Heights</option>
<option>Crestmont</option>
<option>Croydon</option>
<option>Crum Lynne</option>
<option>Curtis Park</option>
<option>Cynwyd</option>
<option>Darby</option>
<option>Daylesford</option>
<option>Del Val College</option>
<option>Devon</option>
<option>Downingtown</option>
<option>Doylestown</option>
<option>East Falls</option>
<option>Eastwick</option>
<option>Eddington</option>
<option>Eddystone</option>
<option>Elkins Park</option>
<option>Elm Street</option>
<option>Elwyn</option>
<option>Exton</option>
<option>Fern Rock TC</option>
<option>Fernwood-Yeadon</option>
<option>Folcroft</option>
<option>Forest Hills</option>
<option>Fort Washington</option>
<option>Fortuna</option>
<option>Fox Chase</option>
<option>Germantown </option>
<option>Gladstone</option>
<option>Glenolden</option>
<option>Glenside</option>
<option>Gravers </option>
<option>Gwynedd Valley</option>
<option>Hatboro</option>
<option>Haverford</option>
<option>Highland</option>
<option>Highland Avenue</option>
<option>Holmesburg</option>
<option>Ivy Ridge</option>
<option>Jefferson Station</option>
<option>Jenkintown</option>
<option>Langhorne</option>
<option>Lansdale</option>
<option>Lansdowne</option>
<option>Lawndale</option>
<option>Levittown</option>
<option>Link Belt</option>
<option>Main Street</option>
<option>Malvern</option>
<option>Manayunk</option>
<option>Marcus Hook</option>
<option>Meadowbrook</option>
<option>Media</option>
<option>Melrose Park</option>
<option>Merion</option>
<option>Miquon</option>
<option>Morton</option>
<option>Mount Airy</option>
<option>Moylan-Rose Valley</option>
<option>Narberth</option>
<option>Neshaminy Falls</option>
<option>New Britain</option>
<option>Newark</option>
<option>Noble</option>
<option>Norristown TC</option>
<option>North Broad</option>
<option>North Hills</option>
<option>North Philadelphia</option>
<option>North Wales</option>
<option>Norwood</option>
<option>Olney</option>
<option>Oreland</option>
<option>Overbrook</option>
<option>Paoli</option>
<option>Penllyn</option>
<option>Pennbrook</option>
<option>Philmont</option>
<option>Primos</option>
<option>Prospect Park</option>
<option>Queen Lane</option>
<option>Radnor</option>
<option>Ridley Park</option>
<option>Rosemont</option>
<option>Roslyn</option>
<option>Rydal</option>
<option>Ryers</option>
<option>Secane</option>
<option>Sedgwick </option>
<option>Sharon Hill</option>
<option>Somerton</option>
<option>Spring Mill</option>
<option>St Davids</option>
<option>St Martins</option>
<option>Stenton</option>
<option>Strafford</option>
<option selected>Suburban Station</option>
<option>Swarthmore</option>
<option>Tacony</option>
<option>Temple University</option>
<option>Thorndale</option>
<option>Torresdale</option>
<option>Trenton Transit Center</option>
<option>Trevose</option>
<option>Tulpehocken</option>
<option>University City</option>
<option>Upsal</option>
<option>Villanova</option>
<option>Wallingford</option>
<option>Warminster</option>
<option>Washington Lane</option>
<option>Wayne</option>
<option>Wayne Junction</option>
<option>West Trenton</option>
<option>Whitford</option>
<option>Willow Grove</option>
<option>Wilmington</option>
<option>Wissahickon TC</option>
<option>Wister </option>
<option>Woodbourne</option>
<option>Wyndmoor </option>
<option>Wynnefield Avenue</option>
<option>Wynnewood</option>
<option>Yardley</option>
    			</select>
  			</label>
		</div>
        <button class="button button-full button-positive" id="plan_fewest_stops">
  			Plan Trip
		</button>
		<div id="path_label"></div>
		<div id="stuff"></div>
	</ion-content>	
  </ion-content>
</ion-view>
